
<h1>Le modèle de la tuture : {{ modele }}</h1>

<p> {{ description }}</p>

{% if prix > 1500 and modele == 'R5' %}
<p>{{ prix }} € </p>
{% endif %}


{% if description ends with "cher" %}
<a href="https://www.ferrari.com/fr-FR
" class="btn btn-primary"> Ferrari la Ferraille tu coco </a>
{% endif %}